@model InstaProj.Models.Entidades.Usuario
<main id="main-home">
    <div class="container">
        <div class="row">

            <ul id="sidebar-principal" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="https://i1.wp.com/www.wallpapersbyte.com/wp-content/uploads/2015/07/Counter-Strike-Global-Offensive-Logo-Black-Soldier-Gun-White-Text-Symbol-Valve-WallpapersByte-com-2560x1600.jpg?resize=300%2C160&ssl=1">
                        </div>
                        <a href="#user"><img class="circle" src="/Home/CarregarImagemPerfil"></a>
                        <a href="#name"><span class="white-text name">@Model.Nome</span></a>
                        <a href="#email"><span class="white-text email">@Model.Email</span></a>
                    </div>
                </li>
                <li>
                    <div class="divider"></div>
                </li>

                <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Procurar Novos Amigos</a></li>

                <ul id="lista-amigos">
                    <li>
                        <blockquote>
                            <h5>Amigos</h5>
                        </blockquote>
                    </li>
                </ul>
            </ul>
            <a href="#" data-target="sidebar-principal" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul class="sidenav sidenav-fixed" id="sidenav-direito"></ul>
            <a href="#" data-target="sidenav-direito" class="sidenav-trigger" id="triggersidebarRight">
                <i class="material-icons">menu</i>
            </a>



            <div class="container centered">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment</i>Nova postagem</div>
                        <div class="collapsible-body">
                            <div class="row">


                                <div class="card fixed" id="postagem-form-fixed">
                                    <blockquote class="card-title"> Nova Postagem</blockquote>
                                    <form id="formPostagem" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="textarea2" name="texto" class="materialize-textarea"
                                                          data-length="120"></textarea>
                                                <label for="textarea2">Mensagem</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="file-field input-field col s12">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input id="imagemPostagem" name="foto" type="file" multiple>
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text"
                                                           placeholder="Upload one or more files">
                                                </div>
                                            </div>

                                            <button class="btn-floating btn-large waves-effect waves-light red"
                                                    id="btn-postar">
                                                <i class="material-icons">send</i>
                                            </button>
                                        </div>
                                        <div class="col 12" id="col-imagens-upload">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container centered" id="container-feed">


            </div>
        </div>
    </div>





    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Usuarios</h4>
            <ul class="collection" id="ul-lista-nao-amigos"></ul>
        </div>
    </div>



</main>

@section scripts{
<script src="~/js/homeNoticias.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/homePostagens.js"></script>
<script src="~/js/HomeFeed.js"></script>
    <script src="~/js/ListaAmigos.js"></script>



}