@model InstaProj.Models.Entidades.Usuario
<main id="main-home">
    <div class="container">
        <div class="row">

            <ul id="sidebar-principal" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="https://i1.wp.com/www.wallpapersbyte.com/wp-content/uploads/2015/07/Counter-Strike-Global-Offensive-Logo-Black-Soldier-Gun-White-Text-Symbol-Valve-WallpapersByte-com-2560x1600.jpg?resize=300%2C160&ssl=1">
                        </div>
                        <a href="#user"><img class="circle" src="/Home/CarregarImagemPerfil"></a>
                        <a href="#name"><span class="white-text name">@Model.Nome</span></a>
                        <a href="#email"><span class="white-text email">@Model.Email</span></a>
                    </div>
                </li>
                <li><a href="#!">Notificações <span class="new badge">4</span></a> </li>
                <li><a href="#!">Second Link</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>

                <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Amigos</a></li>
            </ul>
            <a href="#" data-target="sidebar-principal" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul class="sidenav sidenav-fixed" id="sidenav-direito"></ul>
            <a href="#" data-target="sidenav-direito" class="sidenav-trigger" id="triggersidebarRight">
                <i class="material-icons">menu</i>
            </a>



            <div class="container centered">
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">assignment</i>Nova postagem</div>
                        <div class="collapsible-body">
                            <div class="row">


                                <div class="card fixed" id="postagem-form-fixed">
                                    <blockquote class="card-title"> Nova Postagem</blockquote>
                                    <form id="formPostagem" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="textarea2" name="texto" class="materialize-textarea"
                                                          data-length="120"></textarea>
                                                <label for="textarea2">Mensagem</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="file-field input-field col s12">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input id="imagemPostagem" name="foto" type="file" multiple>
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text"
                                                           placeholder="Upload one or more files">
                                                </div>
                                            </div>
                                            <button class="btn-floating btn-large waves-effect waves-light red"
                                                    id="btn-postar">
                                                <i class="material-icons">send</i>
                                            </button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container centered" id="container-feed">

                <div class="col s8 offset-s2">
                    <div class="card feed">
                        <div class="card-image">
                            <img src="~/images/MIisA6K.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                I am a very simple card. I am good at containing small bits of information. I am
                                convenient because I require little markup to use effectively.
                            </p>
                            <button class="btn-floating btn-large waves-effect waves-light blue">
                                <i class="material-icons">thumb_up</i>
                            </button><span>0</span>
                            <button class="btn-floating btn-large waves-effect waves-light green">
                                <i class="material-icons">tag_faces</i>
                            </button><span>0</span>
                            <span></span>
                        </div>
                        <div class="card-action">
                        </div>
                        <div class="card-action">
                            <input type="text"> <button>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</main>

@section scripts{
    <script src="~/js/homeNoticias.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/homePostagens.js"></script>
    <script src="~/js/HomeFeed.js"></script>
    
}