body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow:hidden;
}

main {
    flex: 1 0 auto;
}

footer {
    background-color: #ee6e73;
}

.principal {
    background-color: #ffffff
}

#feedGrid {
    background-color: #db3939;
}

.amigos {
    width: 95%;
    margin-left: 7px;
}

img.responsive-img {
    max-width: 100%;
    height: 45px;
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 2px;
}

#triggersidebarRight {
    float: right;
}

#imagemPrevia {
    vertical-align: middle;
}

.noticias-card {
    overflow: auto;
    width: 270px;
    height: 198px;
    margin-left: 10px;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
        background: green;
}

#container-feed{
    overflow: auto;
    height:500px;
}

.carousel .indicators .indicator-item.active {
    background-color: #0df129;
}

.carousel .indicators .indicator-item {
    background-color: #ffffff;
}
.imagemLida{
    width: 100px;
}

.imgdupload{
    border-radius: 10px;
}

.msg-enviada {
    float: right;
    margin-right: 10px;
}

.forchat {
    height: 35px;
    width: 600px;
    float: left;
}

.collection .collection-item {
    background-color: #fafafa;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #ffffff;
}